
<view class="wrap">
  <view wx:for="{{ questionList }}" wx:for-index="index1" wx:for-item="item" wx:key="index1" key="{{ index1 }}" wx:if="{{ (currentNum-1) == index1 }}" class="topic">
      <view class="topic-header">
          <label>{{index1 + 1}}/{{questionList.length}}</label>
          <label class="type-style">{{ '('+item.typeName+')' }}</label>
      </view>
      <view class="topic-content">
          <label>{{item.topicContent}}</label>
      </view>
      <view class="topic-options">
          <view wx:for="{{ item.options }}" wx:for-index="index" wx:for-item="option" wx:key="index" key="{{ option.key }}" class="options"> 
              <view class="select-default {{ [ option.isSelect ? 'selected-style' : '',!option.isSelect ? 'select-style' : '' ] }}">{{ option.key }}</view>
              <label class="select-label {{ [ option.isSelect ? 'selected-label' : '' ] }}">{{ option.val }}</label>
          </view>
      </view>
  </view>
  <view class="login">
    <i-button bind_init="_initComponent" i-class="btn-style" size="large" type="primary" wx:if="{{ currentNum < questionList.length }}" data-wpy-evt="13-0" bindtap="_proxy">下一题</i-button>
     <i-button bind_init="_initComponent" i-class="btn-style" size="large" type="primary" wx:if="{{ currentNum == questionList.length }}" data-wpy-evt="13-1" bindtap="_proxy">返回</i-button>
  </view>
  <view class="tips">
      <view>您的答案是 : {{ currentAnswer ? currentAnswer : '未选择' }}</view>
      <view>正确答案是 ：{{ rightAnswer }}</view>
  </view>
</view>
<i-toast bind_init="_initComponent" id="toast"></i-toast>
