
<view class="wrap">
  <view class="form-item">
      <i-row bind_init="_initComponent">
          <i-col bind_init="_initComponent" span="16" i-class="col-class">手机号</i-col>
      </i-row>
      <i-row bind_init="_initComponent" i-class="row-style">
          <i-col bind_init="_initComponent" span="24" i-class="col-class">
            <input disabled="{{ showLoading }}" placeholder-class="placeholder-style" value="{{ userInfo.phone }}" bindinput="_proxy" data-model-id="2" type="text" placeholder="请输入您的手机号" class="input-style"></input>
          </i-col>
      </i-row>
  </view>
  <view class="form-item">
      <i-row bind_init="_initComponent">
          <i-col bind_init="_initComponent" span="16" i-class="col-class">真实姓名</i-col>
      </i-row>
      <i-row bind_init="_initComponent" i-class="row-style">
          <i-col bind_init="_initComponent" span="24" i-class="col-class">
            <input disabled="{{ showLoading }}" placeholder-class="placeholder-style" value="{{ userInfo.name }}" bindinput="_proxy" data-model-id="3" type="text" placeholder="请输入您的真实姓名" class="input-style"></input>
          </i-col>
      </i-row>
  </view>
  <view class="form-item">
      <i-row bind_init="_initComponent">
          <i-col bind_init="_initComponent" span="16" i-class="col-class">身份证号</i-col>
      </i-row>
      <i-row bind_init="_initComponent" i-class="row-style">
          <i-col bind_init="_initComponent" span="24" i-class="col-class">
            <input disabled="{{ showLoading }}" placeholder-class="placeholder-style" value="{{ userInfo.idCard }}" bindinput="_proxy" data-model-id="4" type="text" placeholder="请输入您的身份证号15或18位" class="input-style"></input>
          </i-col>
      </i-row>
  </view>
  <view class="form-item">
      <i-row bind_init="_initComponent">
          <i-col bind_init="_initComponent" span="16" i-class="col-class">设置密码</i-col>
      </i-row>
      <i-row bind_init="_initComponent" i-class="row-style">
          <i-col bind_init="_initComponent" span="24" i-class="col-class">
            <input disabled="{{ showLoading }}" placeholder-class="placeholder-style" password value="{{ userInfo.password }}" bindinput="_proxy" data-model-id="5" type="text" placeholder="请输入密码" class="input-style"></input>
          </i-col>
      </i-row>
  </view>
  <view class="form-item">
      <i-row bind_init="_initComponent">
          <i-col bind_init="_initComponent" span="16" i-class="col-class">律师事务所/单位</i-col>
      </i-row>
      <i-row bind_init="_initComponent" i-class="row-style">
          <i-col bind_init="_initComponent" span="24" i-class="col-class">
            <input disabled="{{ showLoading }}" placeholder-class="placeholder-style" value="{{ userInfo.site }}" bindinput="_proxy" data-model-id="6" type="text" placeholder="请输入您所在的律师事务所/单位" class="input-style"></input>
          </i-col>
      </i-row>
  </view>
  <view class="form-item">
      <i-row bind_init="_initComponent">
          <i-col bind_init="_initComponent" span="16" i-class="col-class">验证码</i-col>
      </i-row>
      <i-row bind_init="_initComponent" i-class="row-style">
          <i-col bind_init="_initComponent" span="24" i-class="col-class">
            <input disabled="{{ showLoading }}" placeholder-class="placeholder-style" value="{{ userInfo.code }}" bindinput="_proxy" data-model-id="7" type="text" placeholder="请输入验证码" class="input-style"></input>
          </i-col>
      </i-row>
      <view class="valide-code">
        <label wx:if="{{ !showTime }}" data-wpy-evt="6-0" bindtap="_proxy">获取验证码</label>
        <label wx:if="{{ showTime }}">{{ time }}</label>
      </view>
  </view>
  <view class="login">
    <i-button bind_init="_initComponent" i-class="btn-style" size="large" type="primary" data-wpy-evt="6-1" bindtap="_proxy">提交</i-button>
  </view>
  <i-modal bind_init="_initComponent" title="提示" visible="{{ showModal }}" actions="{{ btnList }}" data-wpy-evt="6-2" bindtap="_proxy">
     <view>{{ showTips }}</view>
  </i-modal>
  <i-toast bind_init="_initComponent" id="toast"></i-toast>
</view>
