
<view class="wrap">
  <view class="image">
    <image mode="scaleToFill" src="{{'../images/bg-logo1.png'}}" class="item-image"></image>
  </view>
  <view class="login">
    <i-button bind_init="_initComponent" i-class="btn-style" size="large" type="primary" data-wpy-evt="8-0" bindtap="_proxy">模拟考试</i-button>
    <i-button bind_init="_initComponent" i-class="btn-style" size="large" type="primary" data-wpy-evt="8-1" bindtap="_proxy">正式考试</i-button>
  </view>
</view>
