
<view class="wrap">
  <view class="detail">
      <i-row bind_init="_initComponent">
          <i-col bind_init="_initComponent" span="24" i-class="col-class">考试细则</i-col>
      </i-row>
      
  </view>
  <view style=" {{ 'height:' + (height + \'px\') + ';' }}" class="wrap-content">
         <scroll-view scroll-y="true" style="height: 90%;">
            <view>{{ desc }}</view>
         </scroll-view>
      </view>
  <view class="login">
    <i-radio bind_init="_initComponent" value="{{descAgreeTip}}" checked="{{checked}}" data-wpy-evt="9-0" bindchange="_proxy">
    </i-radio>
    <i-button bind_init="_initComponent" i-class="btn-style" size="large" type="primary" wx:if="{{ !disabled }}" data-wpy-evt="9-1" bindtap="_proxy">进入考试</i-button>
    <i-button bind_init="_initComponent" i-class="btn-style" size="large" type="primary" disabled wx:if="{{ disabled }}">进入考试</i-button>
  </view>
  <i-toast bind_init="_initComponent" id="toast"></i-toast>
</view>
