.container {
    position: relative;
    background: #ffffff;
}
.wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.placeholder-style{
    color: #BABABA
}